*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-bg: #1f2937;
    --main-tx-size:48px;
    --main-text-color:#f9faf8;
    --btn-blue:#3882f6;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.header-container {
    background-color: var(--dark-bg);
    padding-top:1rem ;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: auto;
    color:#ffffff ;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
nav ul{
    display: flex;
    gap:1rem;
    padding-top: 3px;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
main{
    background-color: var(--dark-bg);
    color: #f9faf8;
}
.main-container{
    display: flex;
    align-items:  center;
    gap: 1.5rem;
    width: 900px;
    height: 500px;
    margin: auto;
}
h1 {
    font-size: 48px;
    font-weight: bolder;
}
.main-container img {
    width: 470px;
    height: auto;
}
button{
    background-color: #3882f6;
    color: #f9faf8;
    font-family: inherit;
    padding: 5px 1.5rem;
    border: none;
    border-radius: 5px;
}
.main-container button{
    margin-top: 10px;
}
.main-container button:hover{
    background-color:#015cf0 ;
}
.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 400px;
    margin: auto;
    text-align: center;
}
h2 {
    padding: 2rem;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.cards-container {
    display: flex;
    gap: 2.5rem;
}

.cards-container div, img {
    width: 150px;
}
.cards-container img{
    height: 130px;
    border-radius:10px;
}

.quote-container {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
}
.quote{
    width: 720px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:  center;
}
q{
    quotes: none;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
.quote-container div p{
    align-self: flex-end;
    font-weight: bold;
    font-size: 18px;
}
.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: #e5e7eb;
}
.cta-sub-container {
    width: 900px;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #3882f6;
    border-radius: 5px;
}
.cta {
    margin: auto;
    width: 720px;
    display: flex;
    justify-content: space-between;
}
.cta button {
    border: 3px solid #f9faf8;
    margin: auto 0;
}
.cta button:hover{
    border: none;
    background-color: #f9faf8;
    color: #3882f6;
}